<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="swiper-container">
    <div class="swiper-wrapper">
            
            
                <!--Slide1 -->
     
                <div class="swiper-slide about1">
                    <div class = "d-flex flex-column align-items-center" >
                        <div class = "d-flex justify-content-center align-content-center">
                            <blockquote class="blockquote">
                                <p class="mb-0">NE<span class="yello">X</span>T, 왜 모였을까요 ?</p>
                            </blockquote>
                        </div>
                        <div class = "d-flex mt-5">
                            <div class="card border-white mt-5" style="max-width: 18rem;">
                                <div class="card-body">
                                    <p class="card-text text-right">학회원 각자의 꿈을 실현하기 위한 역량 향상 및 실전 경험</p>
                                </div>
                            </div>
                            <div>
                            <%= image_tag 'mission.png' %>
                            </div>
                            <div class="card border-white mt-5" style="max-width: 18rem;">
                                <div class="card-body">
                                    <p class="card-text">가치 있는 아이디어의 실현을 통해 더 나은 세상을 만드는 것</p>
                                </div>
                            </div>
                        </div>
                        <div class="align-content-center mt-5" style="max-width: 40rem;">
                            <p class="text-center">기획, 개발, 창업, 더 나아가 미래를 위해 필요한 역량을 향상시키고자 모였습니다.<br>
                            그리고 실전에 도전하여 스스로의 부족함을 확인합니다.<br>
                            그렇게 우리는 NEXT에서 저마다의 꿈을 이뤄갑니다.</p>
                            <p class="text-center">내 꿈을 믿고 맡겼기에 NEXT는 최고여야만 합니다.<br>
                            사업가, 개발자, 기획자를 꿈꾸는 대학생이라면 누구나 선망하는 학회, <br>
                            그것이 바로 NEXT가 꿈꾸는 현재이자 미래입니다.</p>
                        </div>
                    </div>    
                </div>

                <!--slide2-->
                <div class="swiper-slide about2">
                    <div class="mt-5">
                        <blockquote class="blockquote">
                            <p class="mb-0 text-center">CORE VALUE of NE<span class="yello">X</span>T</p>
                        </blockquote>
                        <div class="d-flex justify-content-center">
                            <div class="card mt-5 mr-3 mb-5" style="width: 18rem;">
                                <%= image_tag 'https://image.flaticon.com/icons/svg/483/483675.svg', class:"card-img-top mt-3",size:"80x130"%>
                                <div class="card-body">
                                    <h5 class="card-title text-center">Challenging</h5>
                                    <p class="card-text text-center">도전 정신을 가진 NEXT,<br> 안되는 것도 되게</p>
                                </div>
                            </div>
                            <div class="card mt-5 mr-3 mb-5" style="width: 18rem;">
                                <%= image_tag 'https://image.flaticon.com/icons/svg/25/25423.svg', class:"card-img-top mt-3",size:"80x130"%>
                                <div class="card-body">
                                    <h5 class="card-title text-center">Encouraging</h5>
                                    <p class="card-text text-center">서로 끌어주고 힘이 되어주는 NEXT</p>
                                </div>
                            </div>
                            <div class="card mt-5 mb-5" style="width: 18rem;">
                                <%= image_tag 'https://image.flaticon.com/icons/svg/1/1342.svg', class:"card-img-top mt-3",size:"80x130"%>
                                <div class="card-body">
                                    <h5 class="card-title text-center">Companion</h5>
                                    <p class="card-text text-center">가장 중요한 것은 사람</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
    </div>
    <!-- Add Pagination -->
  <div class="swiper-pagination" style="position:fixed;"></div>
</div>

</body>
</html>
