
<div class="card bg-dark text-white">
  <img class="card-img" src="http://www.wallpapereast.com/static/images/skull-wallpaper-3.jpg" alt="Card image">
    <div class="card-img-overlay d-flex justify-content-center align-items-center flex-column">
        <div><h1 class="card-title">고려대학교 소프트 벤처 창업 학회</h1></div>
        <div><h1 class="card-title"> NEXT에 오신 것을 환영합니다!</h1></div>
        <div><a class="mainbtn btn-lg" href="#" role="button">Learn more</a></div>
    </div>
</div>

<div>
    <div class="d-flex justify-content-center align-items-center flex-column">
        <div class="makmak"><%=image_tag "ACTIVITIES"%></div>
        <div class="makmak">매주 이루어지는 정규 세션, 해커톤 도전, 기관과의 산학협력, 창업까지 구성원들의 역량을 극대화하는 다양한 활동을 진행 중입니다</div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card bg-dark text-white">
                    <img class="card-img" src="https://images.pexels.com/photos/274131/pexels-photo-274131.jpeg?auto=compress&cs=tinysrgb&h=350" alt="Card image">
                    <div class="card-img-overlay">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card bg-dark text-white">
                    <img class="card-img" src="https://images.pexels.com/photos/274131/pexels-photo-274131.jpeg?auto=compress&cs=tinysrgb&h=350" alt="Card image">
                    <div class="card-img-overlay">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card bg-dark text-white">
                    <img class="card-img" src="https://images.pexels.com/photos/274131/pexels-photo-274131.jpeg?auto=compress&cs=tinysrgb&h=350" alt="Card image">
                    <div class="card-img-overlay">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card</p>
                    </div>
                </div>
           
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center align-items-center flex-column">
        <a class="btn btn-lg" href="#" role="button">Learn more</a>
    </div>
</div>

<div>
    <div class="d-flex justify-content-center align-items-center flex-column">
        <div class="makmak">MEMBERS</div>
        <div class="makmak">디자이너, 사업가, 개발자, 회계사 등으로 이루어진 열정 넘치는 사람들이 모여 있습니다.</div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="card bg-dark text-white">
                    <img class="card-img" src="https://images.pexels.com/photos/274131/pexels-photo-274131.jpeg?auto=compress&cs=tinysrgb&h=350" alt="Card image">
                    <div class="card-img-overlay">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card</p>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="card bg-dark text-white">
                    <img class="card-img" src="https://images.pexels.com/photos/274131/pexels-photo-274131.jpeg?auto=compress&cs=tinysrgb&h=350" alt="Card image">
                    <div class="card-img-overlay">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card</p>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="card bg-dark text-white">
                    <img class="card-img" src="https://images.pexels.com/photos/274131/pexels-photo-274131.jpeg?auto=compress&cs=tinysrgb&h=350" alt="Card image">
                    <div class="card-img-overlay">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card</p>
                    </div>
                </div>
           
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center align-items-center flex-column">
        <a class="btn btn-lg" href="#" role="button">Learn more</a>
    </div>
</div>

<div>
    <div class="d-flex justify-content-center align-items-center flex-column">
        <div class="makmak">RECRUITMENT</div>
        <div class="makmak">매년 학기 초 리크루팅을 진행합니다. 열정 있는 NEXT 2기를 모집 중입니다.</div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="card bg-dark text-white">
                    <img class="card-img" src="https://images.pexels.com/photos/274131/pexels-photo-274131.jpeg?auto=compress&cs=tinysrgb&h=350" alt="Card image">
                    <div class="card-img-overlay">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card</p>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="card bg-dark text-white">
                    <img class="card-img" src="https://images.pexels.com/photos/274131/pexels-photo-274131.jpeg?auto=compress&cs=tinysrgb&h=350" alt="Card image">
                    <div class="card-img-overlay">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card</p>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="card bg-dark text-white">
                    <img class="card-img" src="https://images.pexels.com/photos/274131/pexels-photo-274131.jpeg?auto=compress&cs=tinysrgb&h=350" alt="Card image">
                    <div class="card-img-overlay">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card</p>
                    </div>
                </div>
           
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center align-items-center flex-column">
        <a class="btn btn-lg" href="#" role="button">Learn more</a>
    </div>
</div>
