<div class= "d-flex flex-column align-items-center py-5">
<h1>글 편집</h1>

<%= render 'form', post: @post, isNotice: false %>
<p><%= link_to 'Show', @post, class: "btn btn-primary", style: "padding-top: 6px;" %>
<%= link_to 'Back', posts_path, class: "btn btn-secondary", style: "padding-top: 6px;" %></p>
</div>