@import 'bootstrap';
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

.fuckyou {
    background: image-url('fuckyou2.jpg');
    background-size: 100% auto;
  }


.recruit1 {
    background: image-url('recruit1.jpg');
    background-size: 100% auto;
  }

.recruit2 {
    background: image-url('recruit2.jpg');
    background-size: 100% auto;
  }

.recruit3 {
    background: image-url('recruit3.jpg');
    background-size: 100% auto;
  }

.recruit4 {
    background: image-url('recruit4.jpg');
    background-size: 100% auto;
  }

.contact {
    background: image-url('about1.jpg');
    background-size: 100% auto;
  }

.members {
    background: image-url('black.jpg');
    background-size: 100% auto;
}
.lounge {
    background: image-url('members_lounge.jpg');
    background-size: 100% auto;
}

.activities1 {
    background: image-url('activities1.jpg');
    background-size: 100% auto;
  }

.activities2 {
    background: image-url('activities2.jpg');
    background-size: 100% auto;
  }

.activities3 {
    background: image-url('activities3.jpg');
    background-size: 100% auto;
  }

.activities4 {
    background: image-url('activities4.jpg');
    background-size: 100% auto;
  }

.activities5 {
    background: image-url('mission.jpg');
    background-size: 100% auto;
  }

.about1 {
    background: image-url('about1.jpg');
    background-size: 100% auto;
  }

.about2 {
    background: image-url('about2.jpg');
    background-size: 100% auto;
  }


.navbar1{
    padding-left: 10%;
    padding-right: 10%;
}

.notice{
    margin: 0px;
    font-family: 'Nanum Gothic', sans-serif;
}

.alert{
    margin: 0px;
    padding: 0px;
    font-family: 'Nanum Gothic', sans-serif;
}

.nav-item1{
    padding-right: 10px;
}

.nav-link {
    font-family: 'Nanum Gothic', sans-serif;
    color:white;
}
.index{
    background-color: rgba(0, 0, 0, 0.9);;
}
.index_text {
    padding-top: 200px;
    padding-bottom: 20px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 50px;
    color: white;
}

.index_text1 {
    font-family: 'Nanum Gothic', sans-serif;
    color:white;
    font-size:20px;
}

.index_activities_text{
    margin-top: 30px;
    font-family: 'Nanum Gothic', sans-serif;
}
.carousel-size{
    height: max(1100px);
}
.index_contact{
    padding-bottom: 50px;
}
.index_activities_col{
    height:450px;
    width:25%;
    padding-right: 0px;
    padding-left: 0px;
}
#cf {
    position:relative;
    margin:0 auto;
  }
.bottom{
    height: 450px;
    width: 100%
}
.top{
    height: 450px;
    width: 100%
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

  #cf img {
    position:absolute;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
  
  #cf img.top:hover {
    opacity:0;
  }



.recruitment-container{
    margin: 0px;
    padding: 0px;
}

.recruitment-card{
    width:100%;
    height:100%;
}

.index-contact{
    background-color: black;
    font-family: 'Nanum Gothic', sans-serif;
}

.index_contact_col{
    width: min(300px);
}

.contact_final_margin{
    margin-left: 20px;
}


.text {
    display:table-cell; 
    text-align:center; 
    vertical-align:middle;
    font-family: 'Nanum Gothic', sans-serif;
}
   
   

.project {
    width: 500px;
    height: 250px;
    margin-top: 50px;
}

.inproject {
    width:500px;
    height:250px;
    margin-left:25px;
}

.inproject2 {
    width:500px;
    height:250px;
    padding-right:25px;
}

//activities.html.erb
HTML  CSS   Result
Edit on 
/* entire container, keeps perspective */
.flip-container {
    perspective: 1000px;
   border:2px solid rgba(0,0,0,0) !important;
}

.text {
    display:table-cell; 
    text-align:center; 
    vertical-align:middle;
    font-family: 'Nanum Gothic', sans-serif;
}


.width {
    width: 550px;
    border-radius: 10px;
}
.width2{
    width: 145px;
    text-align: center;
    color: black;
    }

/* front pane, placed above back */
.front{
  z-index:2;
  /* for firefox 31 */
  transform: rotateY(0deg);
  
  background-size:100% 100%;
}
/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
    font-weight: bold;
    background-size:100% 100%;
    color: white;
    text-align: center;
    display:table;
    font-family: 'Nanum Gothic', sans-serif;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 200px;
    height: 200px;
   /*border:1px solid lightgray;*/
}
/* flip speed goes here */
.flipper {
    transition: 0.6s;
   /* 하위요소에 3D 좌표값 지정 */
    transform-style: preserve-3d;
    position: relative;
}
/* hide back of pane during swap */
.front, .back{
  position: absolute;
  backface-visibility:hidden;
}

// member.html.erb
.member_img {
    width: 180px;
    height:180px;
    border-radius: 100%;
}

.tag {
    margin: 100px 100px 100px 30px;

}

.tag:hover {
    transition:all 0.3s ease;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.tag2 {
    margin: 100px 100px 100px 30px;
}

.tag2:hover{
    transition:all 0.3s ease;
    -webkit-transform: rotateZ(-20deg);
    -ms-transform: rotateZ(-20deg);
    transform: rotateZ(-20deg);
}

.memberText {
    margin: 40px 0 0 30px;
    font-family: 'Nanum Gothic', sans-serif;
}

.memberName {
    margin: 0 0 20px 0;
    font-size: 1.3rem;
    font-family: 'Nanum Gothic', sans-serif;
}

.hide {
    display: none !important;
}

// recruit.html.erb

div.heading {
    margin-bottom: 20px;
}

div.who {
    padding-top: 100px;
}

div.condition {
    margin-top: 100px;
}

div.tab-pane {
    color: white;
}

.about_text{
    color:white;
    font-family: 'Nanum Gothic', sans-serif;
}

.about_text1{
    margin-top: 50px;
    font-size: 40px;
    color:yellow;
    font-family: 'Nanum Gothic', sans-serif;
}

.blockquote{
    margin-top: 100px;
    margin-bottom: 30px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 35px;
}

.blockquote1{
    margin-top: 100px;
    margin-bottom: 200px;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 50px;
}

// swiper css
.swiper-pagination {
    position: fixed !important;
    margin-right: 20px;
}

.swiper-pagination-bullet {
    width: 2px !important;
    height: 6vh !important;
    margin: 2vh 0 !important;
    display: block !important;
    background: #fff !important;
}

.swiper-pagination-bullet-active {
    background: #f6921e !important;
}
.line {
    padding-bottom: 50px;
}